<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="list" content="<% list_title _%>>">
	<title><%= env %></title>

	<!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="" >
	<!-- // Open Graph -->

	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="apple-touch-icon" href="favicon-180x180.png">
	<!-- // Icon & Favicon -->

</head>
<body data-pagestatus="new : 2020.10.06">
<div class="wrap">
	<!--[D] HEADER -->
	<header>
		<!-- Navigation -->
		<nav></nav>
		<!-- // Navigation -->
	</header>
	<!--//[D] HEADER -->
	<!-- [D] CONTENTS -->
	<main id="content">
		<img src="../img/icons/github.png" alt="">
		<img src="../img/@tmp/@tmp_brand.jpg" alt="">
	</main>
	<!-- // [D] CONTENTS -->
	<!--[D] FOOTER -->
	<footer></footer>
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
<div class="layer"></div>
<!-- [D] LAYER -->
</body>
</html>
